.noscroll {
  overflow: hidden;
}

.burger {
  position: fixed;
  right: 25px;
  top: 20px;
  z-index: 999;
}

.burger-btn {
  display: block;
  width: 39px;
  height: 39px;
  position: relative;
  z-index: 3;
  border: none;
}

.bar {
  width: 35px;
  height: 5px;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #333;
}

.bar_top {
  top: 5px;
}

.bar_mid {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bar_bottom {
  bottom: 4px;
}

.burger-btn.close .bar_top {
  -webkit-transform: translate(-50%, 9px) rotate(45deg);
          transform: translate(-50%, 9px) rotate(45deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.burger-btn.close .bar_mid {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.burger-btn.close .bar_bottom {
  -webkit-transform: translate(-50%, -7px) rotate(-45deg);
          transform: translate(-50%, -7px) rotate(-45deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  bottom: 13px;
}

.nav-wrapper {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header-nav {
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.nav-list {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.nav-item {
  margin-right: 0;
  margin-bottom: 15px;
}

.nav-item a {
  display: inline-block;
  width: 230px;
  padding: 18px 0;
  color: #333;
}

.nav-item a:hover {
  background: #333;
  color: #fff;
}

.my_introduction {
  background-image: url(../img/top_2.jpg);
  background-size: cover;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: -1;
  margin: 0px auto;
  padding: 300px 0px;
}

.name {
  letter-spacing: 1px;
  font-size: 40px;
  margin: 0px auto;
  text-align: center;
  font-weight: 500;
  line-height: 1.1;
}

.worker_type {
  font-size: 16px;
  margin: 10px 0px;
  text-align: center;
  font-weight: 500;
  line-height: 1.1;
}

.main_content {
  text-align: center;
}

.greetings {
  margin: 0 auto;
  padding: 30px 0 60px 0;
  background-color: #f8f8ff;
}

.portfolio_title {
  margin-bottom: 15px;
  margin-top: 30px;
}

.portfolio_title h1 {
  font-size: 48px;
  display: inline-block;
}

.portfolio_title img {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.portfolio_img img {
  background-color: gray;
  width: 250px;
  border-radius: 50%;
  margin: 30px auto 10px;
}

.portfolio_text {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  text-align: left;
}

.strength_section {
  background-color: #d8d8d8;
  padding-bottom: 20px;
}

.strength_section p {
  margin: 15px 0 50px;
}

.sub_title h1 {
  position: relative;
  z-index: 1;
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
}

.sub_title h1::before {
  content: attr(data-en);
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #e4e4e4;
  font-size: 48px;
  z-index: -1;
}

.introduction_text {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: left;
}

.strength {
  position: relative;
  padding: 5px 0;
  font-size: 24px;
  z-index: 1;
  font-weight: 500;
}

.strength::before {
  content: attr(data-en);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #e4e4e4;
  font-size: 32px;
  z-index: -1;
}

.strength::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #757575;
}

.skill_section {
  margin: 0 auto;
  padding: 10px 0 20px;
  background-color: #f8f8ff;
}

.skill_section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
}

.skill {
  width: 300px;
  padding: 0 50px;
  margin: 10px;
}

.skill img {
  width: 200px;
}

.skill img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.skill h2 {
  position: relative;
  padding: 5px 0;
  margin: 10px auto;
  font-size: 24px;
}

.skill h2::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #757575;
}

.skill p:first-of-type {
  margin: 20px 0 10px;
}

.service_section {
  margin: 0 auto;
  padding: 30px 0 60px 0;
  background-color: #d8d8d8;
}

.service_section img {
  margin-top: 14px;
  margin-right: 5px;
}

.service_section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
}

.service_item {
  width: 300px;
  padding: 0 50px;
  margin: 10px;
}

.service_item img {
  width: 200px;
  margin: 0 auto;
}

.service_item img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.service_item h2 {
  position: relative;
  padding: 5px 0;
  margin: 10px auto;
  font-size: 24px;
}

.service_item h2::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #757575;
}

.service_item p {
  margin: 20px 0 10px;
}

.portfolio_section {
  background-color: #f8f8ff;
  margin: 0 auto;
  padding: 30px 0 60px 0;
}

.slider {
  margin: 50px auto;
  width: 90%;
  height: auto;
  opacity: 0;
}

.card_bottom-item img {
  width: 90%;
  height: auto;
}

/*slick setting*/
.slick-prev:before,
.slick-next:before {
  color: #000;
}

.slick-initialized {
  opacity: 1;
}

.slick-dots {
  bottom: -50px;
}

.slick-slide img {
  display: inline;
}

@media (max-width: 767px) {
  .slick-prev {
    left: -10px;
  }
  .slick-next {
    right: -10px;
  }
}

footer {
  text-align: center;
  background: #D8D8D8;
  padding: 30px 0 10px;
}

.contact_warapper {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  .contact_warapper {
    display: block;
  }
}

.contact-right {
  margin-left: 10px;
}

.contact_text {
  margin-bottom: 15px;
}

.follow-me {
  list-style: none;
  margin: 0 0 -8px;
  overflow: hidden;
  padding: 0;
}

.follow-me li {
  margin: 0 8px 8px 0;
  padding: 0;
}

.follow-me li a[href*="twitter.com"]::before {
  content: "\f099";
}

.follow-me li a::before {
  background-color: #eee;
  border-radius: 2px;
  color: #333;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 44px;
  /* Button height */
  line-height: 44px;
  /* Button height */
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
  width: 44px;
  /* Button width */
}

.follow-me li a:hover::before {
  color: #fff;
}
