.header-nav h1 {
  font-size: 22px;
}

.noscroll {
  overflow: hidden;
}

.burger {
  position: fixed;
  right: 25px;
  top: 20px;
  z-index: 999;
}

.burger-btn {
  display: block;
  width: 39px;
  height: 39px;
  position: relative;
  z-index: 3;
  border: none;
}

.bar {
  width: 35px;
  height: 5px;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #333;
}

.bar_top {
  top: 5px;
}

.bar_mid {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bar_bottom {
  bottom: 4px;
}

.burger-btn.close .bar_top {
  -webkit-transform: translate(-50%, 9px) rotate(45deg);
          transform: translate(-50%, 9px) rotate(45deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.burger-btn.close .bar_mid {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.burger-btn.close .bar_bottom {
  -webkit-transform: translate(-50%, -7px) rotate(-45deg);
          transform: translate(-50%, -7px) rotate(-45deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  bottom: 13px;
}

.nav-wrapper {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header-nav {
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.nav-list {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.nav-item {
  margin-right: 0;
  margin-bottom: 15px;
}

.nav-item a {
  display: inline-block;
  width: 230px;
  padding: 18px 0;
  color: #333;
}

.nav-item a:hover {
  background: #333;
  color: #fff;
}

.main_content {
  text-align: center;
}

.greetings {
  margin: 0 auto;
  padding: 30px 0 60px 0;
  background-color: #f8f8ff;
}

.portfolio_title {
  margin-bottom: 15px;
  margin-top: 30px;
}

.portfolio_title h1 {
  font-size: 48px;
  display: inline-block;
}

.portfolio_title img {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .portfolio-container {
    display: block;
  }
}

.portfolio_img img {
  background-color: gray;
  width: 250px;
  border-radius: 50%;
  margin: 30px auto 10px;
}

.portfolio_text {
  width: 70%;
  padding: 30px 0;
  padding-left: 10px;
  text-align: left;
}

@media (max-width: 767px) {
  .portfolio_text {
    margin: 0 auto;
  }
}

.strength_section {
  background-color: #f8f8ff;
  padding-bottom: 20px;
}

.strength_section p {
  margin: 15px 0 50px;
}

.sub_title h1 {
  position: relative;
  z-index: 1;
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
}

.sub_title h1::before {
  content: attr(data-en);
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #e4e4e4;
  font-size: 48px;
  z-index: -1;
}

.introduction_text {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: left;
}

.strength {
  position: relative;
  padding: 5px 0;
  font-size: 24px;
  z-index: 1;
  font-weight: 500;
}

.strength::before {
  content: attr(data-en);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #e4e4e4;
  font-size: 32px;
  z-index: -1;
}

.strength::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #757575;
}

.skill_section {
  margin: 0 auto;
  padding: 10px 0 20px;
  background-color: #f8f8ff;
}

.skill_section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
}

@media (max-width: 767px) {
  .skill_section ul {
    display: block;
  }
}

.skill {
  width: 50%;
  padding: 0 50px;
}

@media (max-width: 767px) {
  .skill {
    width: 90%;
    margin: 0 auto;
  }
}

.skill img {
  width: 200px;
}

.skill img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.skill h2 {
  position: relative;
  padding: 5px 0;
  margin: 10px auto;
  font-size: 24px;
}

.skill h2::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #757575;
}

.skill p:first-of-type {
  margin: 20px 0 10px;
}

.skill-img {
  text-align: center;
}

.service_section {
  margin: 0 auto;
  padding: 30px 0 60px 0;
  background-color: #f3f3f3;
}

.service_section img {
  margin-top: 14px;
  margin-right: 5px;
}

.service_section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
}

@media (max-width: 767px) {
  .service_section ul {
    display: block;
  }
}

.service_item {
  width: 30%;
  padding: 0 50px;
  margin: 10px;
}

@media (max-width: 767px) {
  .service_item {
    width: 100%;
  }
}

.service_item img {
  width: 200px;
  margin: 0 auto;
}

.service_item img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.service_item h2 {
  position: relative;
  padding: 5px 0;
  margin: 10px auto;
  font-size: 24px;
}

.service_item h2::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #757575;
}

.service_item p {
  margin: 20px 0 10px;
}

.portfolio_section {
  background-color: #f3f3f3;
  margin: 0 auto;
  padding: 30px 0 100px 0;
}

.slider {
  margin: 120px auto;
  width: 90%;
  height: auto;
  opacity: 0;
}

.card_bottom-item img {
  width: 90%;
  height: auto;
}

.card_bottom-item a:hover {
  color: #333;
  opacity: 0.7;
  -webkit-transition: .3s;
  transition: .3s;
}

.card_bottom-item .card_bottom-item-text {
  width: 90%;
  text-align: left;
  margin: 0 auto;
}

.card_bottom-item .card_bottom-item-text:hover {
  color: #333;
  opacity: 0.7;
  -webkit-transition: .3s;
  transition: .3s;
}

.card_bottom-item .card_bottom-item-text h3 {
  padding-top: 10px;
}

/*slick setting*/
.slick-prev:before,
.slick-next:before {
  color: #000;
}

.slick-initialized {
  opacity: 1;
}

.slick-dots {
  bottom: -50px;
}

.slick-slide img {
  display: inline;
}

@media (max-width: 767px) {
  .slick-prev {
    left: -10px;
  }
  .slick-next {
    right: -10px;
  }
}

footer {
  text-align: center;
  background: #f8f8ff;
  padding: 30px 0 10px;
}

.contact_warapper {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  .contact_warapper {
    display: block;
  }
}

.contact-right {
  margin-left: 10px;
}

.contact-right a:hover {
  color: #333;
  opacity: 0.7;
}

.contact_text {
  margin-bottom: 15px;
}

/* question
=============================================================*/
.question {
  width: 100%;
  padding-bottom: 60px;
  padding-top: 60px;
  background: #f3f3f3;
}

.question h2 {
  font-size: 48px;
  margin-bottom: 56px;
}

/*=========
accordion
=========*/
.accordion_area {
  max-width: 550px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .accordion_area {
    width: 350px;
  }
}

.accordion_one:not(:last-child) {
  margin-bottom: 32px;
}

.ac_header {
  background-color: #f8f8ff;
  padding: 10px;
  position: relative;
  width: 100%;
  font-size: 18px;
  z-index: +1;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

@media (max-width: 767px) {
  .ac_header {
    font-size: 14px;
  }
}

.ac_header .i_box {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 40px;
  height: 40px;
  background: #f8f8ff;
  border-radius: 50%;
  margin-top: -20px;
}

.ac_header .i_box::before {
  position: absolute;
  content: "";
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  border-top: 2px solid #333;
  width: 20px;
  height: 0;
  top: 0;
  bottom: 0;
  right: 9px;
}

.ac_header .i_box::after {
  position: absolute;
  content: "";
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  border-left: 2px solid #333;
  width: 0;
  height: 20px;
  top: 0;
  bottom: 0;
  right: 18px;
  -webkit-transition: .3s;
  transition: .3s;
}

.open .i_box:after {
  height: 0;
}

.ac_inner {
  position: relative;
  display: none;
  width: 716px;
  max-width: 100%;
  background: #f8f8ff;
  padding: 10px;
}

.ac_inner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
}

@media (max-width: 767px) {
  .ac_inner::after {
    width: 100%;
  }
}

.open.ac_inner {
  display: block;
}

.open .p-faq__q-txt {
  color: #ee7a7a;
}

/*=========
faq
=========*/
.p-faq__headinner {
  display: block;
  position: relative;
  line-height: 1.5;
}

.p-faq__headinner::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  content: "Q";
  font-family: Oswald;
  color: #333;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  font-size: 28px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .p-faq__headinner::before {
    font-size: 18px;
    left: -5px;
  }
}

.p-faq__bodyinner {
  position: relative;
  display: block;
  padding-left: 40px;
  background-color: #f8f8ff;
}

.p-faq__bodyinner::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  content: "A";
  font-family: Oswald;
  color: #333;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  font-size: 28px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .p-faq__bodyinner::before {
    font-size: 18px;
    left: -5px;
  }
}

.p-faq__a-txt {
  font-size: 16px;
  background: #f8f8ff;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: left;
}

@media (max-width: 767px) {
  .p-faq__a-txt {
    font-size: 14px;
  }
}
