$color-bg: #f3f3f3;
$color-bg-primary: #f8f8ff;
$color-main: #333;
$color-icon: rgb(128, 128, 128);


//ブレークポイント
$layout-width-inner: 1200px;
$breakpoints: (
  'sp': '(max-width: 767px)', //767px以下（スマホ）用の表示
  'tab': '(min-width: 768px) and (max-width: #{$layout-width-inner})',//767px以下かつ$layout-width-inner以下
  'pc': '(min-width: #{$layout-width-inner})', //$layout-width-inner以上（タブレット・PC）用の表示
) ;

//メディアクエリ
@mixin mq($breakpoint: sp) {
      @media #{map-get($breakpoints, $breakpoint)} {
        @content;
      }
}


.header-nav {
  h1 {
    font-size: 22px;
  }

}

//ハンバーガーメニュー
.noscroll{
  overflow: hidden;//スクロールさせない
}

//ハンバーガーメニュー

.burger {
  position: fixed;
  right: 25px;
  top: 20px;
  z-index: 999;

  // &:hover {
  //   opacity: 0.4;
  // }バツ表示の際動作がおかしい

}

.burger-btn{
  display: block;      
  width: 39px;      
  height: 39px;      
  position: relative;      
  z-index: 3;
  border:none;    
}    
.bar{      
  width: 35px;      
  height: 5px;        
  display: block;      
  position: absolute;      
  left: 50%;      
  transform: translateX(-50%);  
  transition: transform .3s;     
  background-color: $color-main;     
}    
.bar_top{   
  top: 5px;
}
.bar_mid{    
  top: 50%;
  transform: translate(-50%,-50%);
}
.bar_bottom{
  bottom: 4px;
}



//ハンバーガーメニュー（バツ）
.burger-btn.close .bar_top{      
  transform: translate(-50%,9px) rotate(45deg);      
  transition: transform .3s;    
}    
.burger-btn.close .bar_mid{      
  opacity: 0;       
  transition: opacity .3s;    
}    
.burger-btn.close .bar_bottom{      
transform: translate(-50%,-7px) rotate(-45deg);      
transition: transform .3s;    
bottom: 13px;
}


//ハンバーガーメニュー全画面表示

.nav-wrapper{      
  display: none;
  width: 100vw;      
  height: 100vh;      
  position: fixed;      
  top: 0;      
  left: 0;       
  z-index: 2;     
}     
.header-nav{        
  width: 100%;        
  height: 100%;        
  background-color: #fff;        
  z-index: 2;      
}     
.nav-list{        
  display: block;        
  position: absolute;        
  top: 50%;        
  left: 50%;        
  transform: translate(-50%,-50%);        
  text-align: center;      
}      
.nav-item{        
  margin-right: 0;        
  margin-bottom: 15px;   
  
  a {
    display: inline-block;
    width: 230px;
    padding: 18px 0;
    color: $color-main;

    &:hover {
      
      background: $color-main;
      color: #fff;
    }
  }
  
}


//main_content

.main_content {
  text-align: center;
}

.greetings {
  margin: 0 auto;
  padding: 30px 0 60px 0;
  background-color: $color-bg-primary;
}

.portfolio_title {
  margin-bottom: 15px;
  margin-top: 30px;
  
  h1 {
    font-size: 48px;
    display: inline-block;

    @include mq('sp') {
      font-size: 36px;
    }
  }

  img {
    width: 50px;
    height: 50px;
    margin-top: 10px;

    @include mq('sp') {
      width: 36px;
      height: 36px;
    }
  }
}

.portfolio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;

  @include mq('sp') {
    display: block;
  }
}


.portfolio_img {

  img {
    background-color: $color-icon;
    width: 250px;
    border-radius: 50%;
    margin: 30px auto 10px;
  }

}

.portfolio_text {
  width: 70%;
  padding: 30px 0;
  padding-left: 10px;
  text-align: left;

  @include mq('sp') {
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }
}


//strength

.strength_section {
  background-color: $color-bg-primary;
  padding-bottom: 20px;
  p {
    margin: 15px 0 50px;
  }
}


.sub_title h1 {
  position: relative;
  z-index: 1;
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;

  &::before {
    content: attr(data-en);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #e4e4e4;
    font-size: 48px;
    z-index: -1;
}
}

.introduction_text {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: left;

  @include mq('sp') {
    padding-top: 0;
  }
}

.strength {
  position: relative;
  padding: 5px 0;
  font-size: 24px;
  z-index: 1;
  font-weight: 500;

  &::before {
    content: attr(data-en);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    color: #e4e4e4;
    font-size: 32px;
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 40px;
    height: 2px;
    background-color: #757575;
  }

}



//skill

.skill_section {
  margin: 0 auto;
  padding: 10px 0 20px;
  background-color: $color-bg-primary;

 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;

  @include mq('sp') {
    display: block;
  }
 }
}

.skill {
  width: 50%;
  padding: 0 50px;

  @include mq('sp') {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    padding-top: 40px;
  }

  img {
    width: 200px;

    &:hover {
      transform: translateY(-5px);
      transition-duration: 0.5s;
    }   
  }

 h2 {
  position: relative;
  padding: 5px 0;
  margin: 10px auto;
  font-size: 24px;

  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 40px;
    height: 2px;
    background-color: #757575;
   } 
 }

 p:first-of-type {
  margin: 20px 0 10px;
 }


}

.skill-img {
  text-align: center;
}


//service

.service_section{
    margin: 0 auto;
    padding: 30px 0 60px 0;
    background-color: $color-bg;

    img {
      margin-top: 14px;
      margin-right: 5px;
    }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;

    @include mq('sp') {
      display: block;
    }
  }

}

.service_item {
  width: 30%;
  padding: 0 50px;
  margin: 10px;

  &:not(:first-child) {
    margin-top: 40px;
  }

  @include mq('sp') {
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
  }

  img {
    width: 200px;
    margin: 0 auto;

    @include mq('sp') {
      text-align: center;
    }

    &:hover {
      transform: translateY(-5px);
      transition-duration: 0.5s;
    }   
  }

  h2 {
    position: relative;
    padding: 5px 0;
    margin: 10px auto;
    font-size: 24px;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 40px;
      height: 2px;
      background-color: #757575;
    }

  }

  p {
    margin: 20px 0 10px;
  }
}

.service-img {
  text-align: center;
}


//portfolio

.portfolio_section {
  background-color: $color-bg;
  margin: 0 auto;
  padding: 30px 0 100px 0;
}

//スライダー

.slider{
  margin: 120px auto;
  width: 90%;
  height: auto;
  opacity: 0;

  @include mq('sp') {
    margin: 60px auto;
  }
}

.card_bottom-item {
  
  img {
    width: 90%;
    height: auto;
  }

  a {
    &:hover {
      color: #333;
      opacity: 0.7;
      transition: .3s;
    }
  }

  .card_bottom-item-text {
    width: 90%;
    text-align: left;
    margin: 0 auto;

    &:hover {
      color: #333;
      opacity: 0.7;
      transition: .3s;
    }

    h3 {
      padding-top: 10px;
    }


  }
}


/*slick setting*/
.slick-prev:before,
.slick-next:before {
  color: #000;
}

.slick-initialized{
  opacity: 1;
}

.slick-dots {
  bottom: -50px;
}

.slick-slide img {
  display: inline;
}

  
@include mq('sp') {
  .slick-prev {
    left: -10px;
  }

  .slick-next {
    right: -10px;
}
}

footer {
  text-align: center;
  background: $color-bg-primary;
  padding: 30px 0 10px;;
}

.contact_warapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;

    @include mq('sp') {
      display: block;
    }
}

.contact-right {
  margin-left: 10px;

  a {
    &:hover {
      color: $color-main;  
      opacity: 0.7;
    }
  }
}


.contact_text {
  margin-bottom: 15px;
}

 /* question
=============================================================*/
.question {
  width: 100%;
  padding-bottom: 60px;
  padding-top: 60px;
  background: $color-bg;

  h2 {
    font-size: 48px;
    margin-bottom: 56px;

    @include mq('sp') {
      font-size: 36px;
    }
  }
}

/*=========
accordion
=========*/

.accordion_area {
  max-width: 550px;
  margin: 0 auto;

  @include mq('sp') {
    width: 350px;
  }
}

.accordion_one:not(:last-child) {
  margin-bottom: 32px;
}

.ac_header {
  background-color: $color-bg-primary;
  padding:  10px;
  position: relative;
  width: 100%;
  font-size: 18px;
  z-index: +1;
  cursor: pointer;
  transition: .2s;

  @include mq('sp') {
    font-size: 14px;
  }

  .i_box {
    position: absolute;
    top: 50%;
    right: 16px;
    height: 40px;
    background: $color-bg-primary;
    border-radius: 50%;
    margin-top: -20px;


 
    
     &::before { //+の横線
       position: absolute;
       content: "";
       margin: auto;
       box-sizing: border-box;
       vertical-align: middle;
       border-top: 2px solid $color-main;
       width: 20px;
       height: 0;
       top: 0;
       bottom: 0;
       right: 9px;

       @include mq('sp') {
         width: 15px;
         right: 0px;
       }
     }

     &::after { //+の縦線
       position: absolute;
       content: "";
       margin: auto;
       box-sizing: border-box;
       vertical-align: middle;
       border-left: 2px solid $color-main;
       width: 0;
       height: 20px;
       top: 0;
       bottom: 0;
       right: 18px;
       transition: .3s;

       @include mq('sp') {
        height: 15px;
        right: 6px;
      }
     }
  }
}


.open .i_box:after {
  height: 0;
}

.ac_inner {
  position: relative;
  display: none;
  width: 716px;
  max-width: 100%;
  background: $color-bg-primary;
  padding: 10px;


  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;

    @include mq('sp') {
      width: 100%;
    }
  }
}

.p-faq__q-txt {
  padding-left: 20px;
  padding-right: 20px;
}

.open.ac_inner {
  display: block;
}

.open .p-faq__q-txt {
  color: rgb(238, 122, 122); //open時の文字の色
}

/*=========
faq
=========*/

.p-faq__headinner {
  display: block;
  position: relative;
  line-height: 1.5;

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: "Q";
    font-family: Oswald;
    color: #333;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    font-size: 28px;
    font-weight: 600;

    @include mq('sp') {
      font-size: 18px;
      left: -5px;
    }
  }

}


.p-faq__bodyinner {
  position: relative;
  display: block;
  padding-left: 40px;
  background-color: $color-bg-primary;

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: "A";
    font-family: Oswald;
    color: #333;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    font-size: 28px;
    font-weight: 600;

    @include mq('sp') {
      font-size: 18px;
      left: -5px;
    }
  }
}

.p-faq__a-txt {
  font-size: 16px;
  background: $color-bg-primary;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: left;

  @include mq('sp') {
    font-size: 14px;
  }
}